<div class="container">
  <app-add-task (emitTask)='add($event)'></app-add-task>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Tasks to do
        </div>
        <app-to-do-task [tasksList]="tasksList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-to-do-task>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Tasks done
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let done of doneList">
            {{done}}
            <button class="btn btn-info float-right" (click)="backToDo(done)"><i class="fa fa-chevron-circle-left"></i></button>
            <button class="btn btn-danger float-right" (click)="removeDone(done)"><i class="fa fa-trash"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="btn btn-danger" (click)="removeAll()">Clear all</button>
</div>
