<div class="container">
  <app-add-task></app-add-task>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Tasks to do
        </div>
        <app-to-do-task></app-to-do-task>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Tasks done
        </div>
        <app-done-task></app-done-task>
      </div>
    </div>
  </div>
  <button class="btn btn-danger" (click)="removeAll()">Clear all</button>
</div>
